.coffee {

    &__item {



        padding-top: 2.1rem;
        padding-bottom: 2.2rem;
        width: 22rem;
        min-height: 24rem;
        box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.25);
   
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: 1s all ease;

        cursor: pointer;


        &-img {
            margin: 0 auto;
            width: 15rem;
            height: 13rem;
            object-fit: contain;
            border-radius: 10px;
        }




        
        &:hover {
            background-color: rgb(176, 212, 226);
            transform: translateY(-5px);
        }

        &-name {
            margin-top: 1rem;
            width: calc(100% - 4.2rem);
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 14px;
            text-align: center;

        }
        &-country {
            margin-top: 1rem;
            width: calc(100% - 4.2rem);
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 14px;
            text-align: right;
            color: #000;
        }


        &-price {
            margin-top: 1rem;
            width: calc(100% - 4.2rem);
            font-family: var(--font-family);
            font-weight: 700;
            font-size: 14px;

            text-align: end;

        }
    }


}