.nav {

    padding-top: 30px;
    
    &__wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        gap: 4rem;
        color: #fff;

        &--black {
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            gap: 4rem;
            color: black;
        }
        
        &--center {
            justify-self: center;
        }


    }

    &__logo {
        img {
            width: 35px;
            height: 35px;
        }
        display: flex;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 1.2rem;
        
 
        align-items: flex-end;

        &:hover {
            color: rgb(37, 192, 37);
        }
    }

    &__our-coffe {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 1.2rem;
        &:hover {
            color: rgb(37, 192, 37);
        }

    }

    &__pleasure {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 1.2rem;
        &:hover {
            color: rgb(37, 192, 37);
        }
    }
}

